:root {
  --border-width: 3px;
}

@font-face {
  font-family: "TT Firs Neue";
  font-weight: 700;
  src: url("fonts/TT_Firs_Neue/TT\ Firs\ Neue\ Trial\ Bold.ttf");
}
@font-face {
  font-family: "TT Firs Neue";
  font-weight: 600;
  src: url("./fonts/TT_Firs_Neue/TT_Firs_Neue-Trial_DemiBold.ttf");
}

@font-face {
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/TT_Firs_Neue/TT_Firs_Neue_Trial_Regular.ttf");
}
@font-face {
  font-family: "TT Firs Neue";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/TT_Firs_Neue/TT_Firs_Neue_Trial_Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #0b0b0d;
  font-family: "TT Firs Neue", sans-serif;
  scroll-behavior:smooth;
  cursor: url(cursor.cur), auto;
  
}
body{
  position: relative;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* cursor: url(cursor.cur), auto; */

}
::selection{
  @apply bg-transparent;
}
.logo-container {
  @apply flex content-center h-full gap-[10px] lg:gap-x-5 py-[19px] lg:py-[5px];
}
/* .logo{
  @apply h-10 w-[91px] lg:h-[79.33px] lg:w-[180.64px] my-[10px];
} */
.logo {
  @apply h-10 w-[91px] lg:h-[79.33px] lg:w-[180.64px] self-center flex items-center;
}
.logo-text {
  @apply self-center text-[#737380] text-[8px] lg:text-[14px];
}
.hambugger {
  @apply my-auto  w-7 h-7 ;
}
.nav-modal-container {
  @apply fixed z-50 top-0 left-0 bottom-0 right-0 w-full h-full min-h-screen bg-[rgba(0,0,0,0.90)] backdrop-blur-sm flex justify-center items-center content-center;
  
}

.nav-modal {
  @apply text-2xl text-white bg-[#0A0A0D]  backdrop-blur-[20px] h-[333px] w-[358px] lg:h-[510px] lg:w-[520px] m-10 rounded-xl;
}

.modal-links {
  @apply flex flex-col gap-y-2 lg:gap-y-12 lg:gap-x-4 my-6 lg:my-8;
}
.modal-links-item {
  @apply text-xl lg:text-4xl leading-10 font-bold text-[#919199];
}
#navbar {
  background-color: rgba(11, 11, 13, 0.8);
}
.hero-btn {
  @apply px-[20px] py-[14px] lg:px-6 bg-[#ebebf7] lg:bg-transparent text-[#0A0A0D] lg:w-[65%] self-center lg:py-4 rounded-lg border-[#737380] border  flex gap-x-2 justify-center content-center items-baseline lg:text-[#737380] hover:bg-primary lg:hover:text-[#0A0A0D] lg:text-[20px] font-semibold transition;
}
.hero-btn,
.hero-btn:hover,
.hero-btn-arrow-icon,
.hero-btn-arrow-icon:hover {
  @apply transition duration-300 ease-in-out;
}
.hero-text {
  @apply inline-block lg:text-[16px] text-[10px] text-[#737380]  lg:w-[35%] self-center;
}

.hero-btn:hover ~ .hero-text {
  @apply lg:opacity-30;
}

.scroller {
  /* height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden; */
  /* width: 10em; */
}

.scroller p span:nth-child(1),
.scroller p span:nth-child(4),
.no-case-study-heading,
.what-next-heading {
  background: linear-gradient(270deg, #ef6d35 27.91%, #ff097f 74.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.scroller p span:nth-child(2) {
  background: linear-gradient(270deg, #6358e4 7.22%, #af58e4 92.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.scroller p span:nth-child(3) {
  background: linear-gradient(270deg, #dfda63 13.94%, #63dfab 87.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.scroller > div {
  position: absolute;
  top: 0;
  /* animation: slide 5s ease-in infinite; */
  font-weight: bold;
  /* -webkit-animation: slide 8s ease-in infinite; */
}

/* @keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
} */

.module-border-wrap {
  @apply lg:h-[180px] py-2;
  max-width: 332px;
  padding: 1rem;
  /* position: relative; */
  padding: 1px;
  border-radius: 14px;
  border: 1px solid rgba(69, 69, 77, 0.2);
  background: #0b0b0d;
  background-image: linear-gradient(to right, #0b0b0d, #0b0b0d);
  transition: background-image 0.5s linear;
}
.module-border-wrap:hover {
  background-image: linear-gradient(to right, red, purple);
  transition: background-image 0.5s linear;

  @apply cursor-pointer;
}
.module {
  background: #0b0b0d;
  color: white;
  @apply p-[30px];
  border-radius: 14px;
  @apply flex justify-center items-center content-center h-[79px] lg:h-[177px] w-[320px] max-w-[320px] lg:w-[320px];
}

/* .module-border-wrap {
  @apply flex justify-center items-center h-[77px] lg:h-[177px];
  position: relative;
  padding:  4px 1px;
  border-radius: 14px;
  border: 1px solid rgba(69, 69, 77, 0.2);
  background: #0B0B0D;
  background-image: linear-gradient(
    to right,
    #0B0B0D,
    #0B0B0D
  );
  transition: background-image 0.5s linear;

}
.module-border-wrap:hover{
  background-image: linear-gradient(to right, red, purple);
  transition: background-image 0.5s linear;
  @apply cursor-pointer;
}
.module {
  background: #0B0B0D;
  color: white;
  width: 330px;
  height:177px;
  padding: 55px 44px;
  border-radius: 14px;
  @apply flex justify-center items-center  ;

  
} */
.card {
  @apply pl-6 py-9 lg:pl-[53px] lg:px-12 bg-[#101012] rounded-md mx-4;
}
.card-icon {
  @apply w-16 h-16 lg:w-20 lg:h-20;
}
.card-heading {
  @apply 2xl:text-[40px] xl:text-[30px] text-[20px]  font-bold leading-[51px]  lg:my-5 text-[#C2C2CC];
}
.card-list {
  list-style-image: url("/images/tick_mark.png");
  list-style-position: outside;
  @apply ml-7 lg:ml-5 ;
}
.card-list li {
  @apply text-lg 2xl:text-xl text-[#737380] font-normal my-2 lg:my-3;
}
.tagline h2 span {
  @apply text-[#8080FF];
}
.tagline h2 {
  font-feature-settings: "tnum" on, "lnum" on;
}
.project-image:not(.coming-soon) {

  cursor: url(img.cur), auto;
  
}

.project-image,
.project-image:hover {
  transition: 0.5s;
  @apply hover:scale-[1.1] rounded-none;
}
.project-meta {
  @apply my-[10px] lg:my-[20px];
}
.project-heading {
  @apply text-[18px] lg:text-[22px] text-[#C2C2CC] font-medium mb-2 lg:mb-2;
}
.project-meta p {
  @apply text-[#737380] text-lg;
}

.scroller {
  /* max-height: 70px; */
  overflow: hidden;
  @apply lg:my-1;
}
.animate-text {
  /* height: 85px; */
  @apply h-[100px] md:h-[80px] lg:h-[110px] xl:h-[110px];
  overflow: hidden;
  @apply md:py-5 lg:my-1 max-h-[150px] lg:max-h-[115px] lg:h-[115px];
}
.scroll-none::-webkit-scrollbar{
  display:none;
}
.scroll-none{
  @apply pt-10 pb-5;
  box-sizing: border-box;
}
.animate-text span {
  @apply text-[48px] hidden px-1 md:text-5xl lg:text-6xl xl:text-[92px] font-bold md:text-center md:self-center leading-[50px] lg:leading-[90px];
}

.animate-text span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}
.animate-text span.text-out {
  animation: textOut 1s ease;
  -webkit-animation: ;
}
@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(1%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* .scroll-parent {
  position: relative;
  width: 300vw;
  height: 20rem;
  overflow-x: hidden;
}

.scroll-element {
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 5s linear infinite;
  -webkit-animation: primary 5s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
} */

.gradient-border {
  border: 3px solid #ffff;
  margin: 19px;
  position: relative;
  @apply flex justify-center items-center content-center w-[320px] h-[177px];
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #0b0b0d;
  border-radius: var(--border-width);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gradient-border:hover {
  border: none;
}
.gradient-border:hover::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  /* height: 79.25812530517578px;
  width: 148.06463623046875px; */

  background: linear-gradient(
    60deg,
    #5f86f2,
    #a65ff2,
    #f25fd0,
    #f25f61,
    #f2cb5f,
    #abf25f,
    #5ff281,
    #5ff2f0
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
}

.flex-2e {
  @apply w-full;
  display: flex;
  /* justify-content: center;
 align-items: center; */
  width: 200vw;
  overflow-x: auto;
}

.btn-transition,
.btn-transition:hover {
  transition: 0.3s;
}

.clients {
  @apply flex justify-center mx-auto relative;
}

.client {
  @apply px-10 w-[170.06px] h-[79.26px] lg:w-[332px] lg:h-[178px] 2xl:w-[332px] 2xl:h-[178px] bg-transparent flex justify-center items-center content-center lg:hover:bg-[#101012] rounded-[8px] m-3 lg:hover:opacity-100 lg:opacity-50;
}
.client-cover{
  @apply opacity-0 absolute z-20 w-[168.06px] h-[79.26px] lg:w-[332px] lg:h-[178px] 2xl:w-[332px] 2xl:h-[178px];
}
.client object {
  @apply mx-6 lg:mx-0 scale-50 lg:scale-[0.86];
  transition: 0.3s;
}
.client:hover > object {
  @apply lg:scale-[1] transition-all hover:transition-all;
  transition: 0.3s;
}

.client object:hover {
  transition: 0.3s;
}
.animate-arrow {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  animation: arrow;
  -webkit-animation: arrow .8s infinite;
}
@keyframes arrow {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
  }
}

.form-group {
  @apply relative lg:px-2 lg:w-1/2;
}
.input-textholder {
  @apply text-[#7C7C82] font-normal top-5 left-6 text-[17px] cursor-text z-0 bg-[#252529];
  transition: 0.3s;
}
select.input-text{
  @apply pb-5 pt-5;
}
select.input-text:disabled:active,
select.input-text:disabled:focus{
  @apply border-transparent;
}
select option{
  @apply text-[#7C7C82] font-normal py-5;
}
.reddd{
  @apply text-red-300;
}
.input-text:not(.select)
{
  @apply text-[#C2C2CC];
}
.input-text
{
  @apply bg-[#252529] text-[#7C7C82] form-input px-4 pb-3 pt-6 rounded-lg text-[17px]  font-normal w-full z-10  border-transparent;
  transition: background 0.2s;
}

.input-text:-webkit-autofill,
.input-text:autofill,
.input-text:-internal-autofill-selected {
  background-color: transparent;
}
.input-text:focus,
.input-text:active {
  @apply bg-transparent border-[#252529] outline-none ring-transparent;
  transition: background 0.2s;
}
.input-text:active ~ .input-textholder,
.input-text:focus ~ .input-textholder,
.input-text:not(:placeholder-shown).input-text:not(:focus) ~ .input-textholder {
  @apply top-[10px] text-xs pt-[2px] pr-10 bg-[#101012];
  transition: 0.2s;
}
.input-text:not(:placeholder-shown).input-text:not(:focus) ~ .input-textholder{
  @apply bg-[#252529];
}

.contact-p-text{
  @apply text-base lg:text-lg text-[#737380] lg:leading-[25px] ;
}

.project-cursor, label, object,  .client object, .client{
  cursor: url(pointer.cur)!important;
}
a, .cursor-ss-hand, input, button, button span{
  cursor: url(hand.cur), auto;
}

.project-cursor_alt{
  cursor: url(img.cur), auto;
}
.coming-soon{
  cursor: url(coming_soon.cur), auto;

}
.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 50px;
  line-height: 20px;
  max-height: 267px;
  resize: none;
  /* @apply pt-20 pb-20; */
}

.textarea[contenteditable]:empty::before {
  content: " ";
  color: gray;
}

.moving_card{
  transform: translateY(0%);
  animation: moveV 2s infinite;
}
@keyframes moveV {
  0%{
    transform: translateY(0%);

  }
  50%{
    transform: translateY(10%);
  }
  100%{
    transform: translateY(0%);
  }
}
.moving_card_once{
  transform: translateY(0%);
  animation: moveVx 0.8s;
}
@keyframes moveVx {
  0%{
  transform: translateY(-50%);

  }
  25%{
    transform: translateY(-30%);

  }
  50%{
    transform: translateY(10%);
  }
  75%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(0%);
  }
}
body{
  height:100vh;
  perspective:1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}

.paralax-wrapper{
  
}

.clients-slider {
  width: 150vw;
  /* margin: auto; */
  overflow: hidden;
}
.clients-slider .client {
  display: flex;
  padding: 20px;
  animation: cambio 30s infinite linear;
}


@keyframes cambio {
  from {transform:translateX(200%)}
  to {transform:translateX(-250%)}
}